body {
    margin: 0;
    min-height: 100vh;
    background: url(/bosh/image.png) center / cover no-repeat;
    position: relative;
    font-family: "Segoe UI", sans-serif;
}

/* fonni xiralashtirish */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: inherit;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;
}
/* LOGO BANNER */
.logo-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 22px;
    
}

.card {
    width: 360px;
    padding: 24px;
    border-radius: 22px;
    background: rgba(20, 30, 55, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
    margin-top: 60px;
}
.card h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    margin-bottom: 14px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* hover effekt */
.btn:hover {
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    background: rgba(0, 170, 255, 0.15);
}
.q {
    border: 1px solid #00ccff;
    box-shadow:
        0 0 8px #00ccff,
        0 0 16px rgba(0, 204, 255, 0.7);
}
.q b {
    display: block;
    margin-bottom: 8px;
} 
.label {
    margin-top: 18px;
    padding: 14px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
}
label:hover{
  background:#1e293b;
}

input[type="radio"]{
  margin-right:8px;
}

/* NATIJA */
#ball{
  margin-top:15px;
  font-size:18px;
}
/* === KOMPYUTER QISMLARI DIZAYNI === */

.qismlar{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:12px;
  margin:15px 0;
}

.qism{
  padding:16px;
  border-radius:16px;
  font-weight:bold;
  text-align:center;
  color:white;
  font-size:16px;
  box-shadow:0 10px 25px rgba(0,0,0,.5);
  transition:0.3s;
}

/* RANGLAR */
.monitor{
  background:linear-gradient(135deg,#3b82f6,#1e40af);
}

.klav{
  background:linear-gradient(135deg,#22c55e,#15803d);
}

.mouse{
  background:linear-gradient(135deg,#f59e0b,#b45309);
}

.sistem{
  background:linear-gradient(135deg,#a855f7,#6b21a8);
}

/* HOVER EFFEKT */
.qism:hover{
  transform:scale(1.06);
}
.bg-video {
  justify-content: center;
}